{% extends 'base.html' %}

{% block title %}Password Change Done{% endblock %}

{% block style %}
    <style>
        .main_child {
            margin: 70px 0;
            width: 600px;
            display: flex;
            flex-direction: column;
            align-items: center;
            background: white;
            padding: 80px 0;
            border-radius: 20px;
            font-size: 19px;
        }

        .main_child a {
            font-weight: bold ;
            font-size: 19px;
        }
    </style>
{% endblock %}

{% block body %}
    <div class="main_child">
        <p>Password changed.</p>

        <a href="{% url 'login' %}">Log In</a>
    </div>
{% endblock %}
