{% extends 'base.html' %}
{% load static %}
{% load user_tags %}
{% load messenger_tags %}

{% block title %}{{ profile_user.email }}{% endblock %}

{% block style %}
    <link rel="stylesheet" type="text/css" href="{% static 'user/user_profile.css' %}">
{% endblock %}


{% block body %}

    <p><b>{{ profile_user.email }}</b></p>

    <div class="follow_stat">
        <a href="{% url "follow_list" profile_user.id %}?f=er">{{ profile_user.id|follower_count }}</a>
        <a href="{% url "follow_list" profile_user.id %}?f=ing">{{ profile_user.id|following_count }}</a>
    </div><br>

    {% if profile_user.id != user.id %}
        <form method="post">
            {% csrf_token %}
            {% if following_status == None %}
                <input type="submit" name="follow" value="Follow">
            {% elif not following_status %}
                <input type="submit" name="cancel_follow" value="Cancel Request">
            {% else %}
                <input type="submit" name="unfollow" value="Unfollow">
            {% endif %}
        </form>

    {% else %}
        <div style="display: flex;">
            <form method="get" action="{% url 'update_info' user.id %}">
                {% csrf_token %}
                <input type="submit" value="Update Information" style="margin-right: 10px;">
            </form>
            <form method="post" action="{% url 'password_change' %}">
                {% csrf_token %}
                <input type="submit" value="Change Password">
            </form>
        </div>
    {% endif %}

    <p><b>full name:</b> {{ profile_user.get_full_name|if_none }}</p>
    <p><b>gender:</b> {{ profile_user.get_gender_display|if_none }}</p>
    <p><b>bio:</b> {{ profile_user.bio|if_none }}</p>
    <p><b>website:</b>
        {% if profile_user.website %}
            <a href="{{ profile_user.website }}">{{ profile_user.website }}</a>
        {% else %}
            Unknown
        {% endif %}
    </p>

    <p><b>Joined:</b> {{ profile_user.age|custom_time_format }} Ago</p>
    <hr>
    <b>Posts:</b>
    {% if posts %}
        <ul>
            {% for post in posts %}
                <li><a href="{% url 'post' post.slug %}">{{ post.title }} -
                    {{ post.age|custom_time_format }} Ago</a></li>
            {% endfor %}
        </ul>
    {% else %}
        no post.
    {% endif %}
{% endblock %}
