{% extends 'base.html' %}
{% load user_tags %}
{% load messenger_tags %}
{% load static %}

{% block title %}All Users{% endblock %}

{% block style %}
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'user/user_list.css' %}">
{% endblock %}

{% block email %}{{ user.email|email_format }}{% endblock %}

{% block nav %}{% custom_nav user.id %}{% endblock %}


{% block body %}
    <div class="sug_parent">
        <form autocomplete="off" action="" method="post">
            {% csrf_token %}
            {{ form.as_table }}
            <input type="submit" VALUE="Search">
            <a href="{% url 'users' user.id %}">
                <button type="button">Refresh</button>
            </a>
        </form>
        <div class="sug"></div>
    </div>


    {% if user_list %}
        <p>total users: {{ count }}</p>
        <ul>
            {% for user_obj in user_list %}
                <li><a href="{% url 'profile' user.id user_obj.id %}">{{ user_obj.email }}</a></li>
            {% endfor %}
        </ul>
    {% else %}
        no user found.
    {% endif %}
    <span></span>
{% endblock %}


{% block script %}
    <script src='{% static 'user/user_list.js' %}'></script>
{% endblock %}
